*, *::before, *::after{
  box-sizing: border-box;
}

.boxH{
  background: #BBBB;
  border: 4px solid #999;
  border-radius: 3px;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size:xx-large;
  line-height: 65px;
}